<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177856810578-1pqhordasmmdg1le77hfs3klr16g8in1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177856810578-1pqhordasmmdg1le77hfs3klr16g8in1</string>
	<key>API_KEY</key>
	<string>AIzaSyB2j1ecJeQHe424WO6LfscoWXesrddTyUk</string>
	<key>GCM_SENDER_ID</key>
	<string>177856810578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hiroakiapp.Drinto</string>
	<key>PROJECT_ID</key>
	<string>drinto-3412d</string>
	<key>STORAGE_BUCKET</key>
	<string>drinto-3412d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177856810578:ios:eb4644de4aa07f3d6ed98b</string>
</dict>
</plist>